body{
	border:15px solid #b5b9bd;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 5px 20px;
	width: 85%;
	max-width: 700px;
	margin: 10px auto;
}
.date{
	text-transform: uppercase;
	color: #6a92ba;
	padding-bottom: 10px;
	padding-top: 0px;
	font-weight: 800;
	font-size: 20px;
	margin-top:4px; 
	letter-spacing: 0.25rem;
}
.para{
	border-left: 5px solid #b5b9bd;
	padding: 0px 5px;
}
.noma{
	font-weight: 500;
}
.nomatwo{
	font-weight: 500;
	margin-bottom: 40px;
}
h1{
	color: #484c54;
	font-size: 2.0rem;
}
hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

