body{
	background: rgba(180,180,180,0.7);
	border: 4px solid rgba(0,200,150,0.7)
}
li{
	border: 1px dashed rgba(150,50,0,1)
}
.end{
	color: red;
}
/* . for class*/
/* # for id*/
#fin{
	color: blue;
}
/* * selects whole body*/
*{
	border: 1px solid grey;
}
/*anchor tag*/
li a{
	color: red;
}
/*json selector*/
h2 + ol{
	border: 2px dashed blue;
}
a[href="http://www.google.com"]{
	background: blue;
}
/*
specificity--->
body<ul<class<id*/
